<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column hashtags__container">
        <%= form.translated :text_field, :title, autofocus: true, class: "js-hashtags", hashtaggable: true, aria: { label: :title } %>
      </div>

      <div class="row column">
        <%= form.number_field :num_candidates %>
      </div>

      <div class="row column hashtags__container">
        <%= form.translated :editor, :description %>
      </div>

      <div class="row column hashtags__container">
        <%= form.translated :editor, :selection_criteria %>
      </div>

      <div class="row column hashtags__container">
        <%= form.translated :editor, :selected_profiles_description %>
      </div>
    </div>
  </div>

  <div class="pt-4">
    <div class="card-section">
      <div class="row column">
        <%= render "decidim/stratified_sortitions/admin/stratified_sortitions/strata", form: form %>
      </div>
    </div>
  </div>
</div>

<%= append_javascript_pack_tag "decidim_stratified_sortitions_admin" %>
<%= append_stylesheet_pack_tag "decidim_stratified_sortitions_admin" %>