<div id="panel-strata" class="card-section">
  <%= field_errors_block(form, :strata) %>

  <div class="stratified-sortition-strata row column">
    <template class="decidim-template">
      <%= fields_for "stratified_sortition[strata][STRATUM_ID]", blank_stratum do |stratum_form| %>
        <%= render "stratum", form: stratum_form, id: tabs_id_for_stratum(blank_stratum) %>
      <% end %>
    </template>

    <div class="stratified-sortition-strata-list">
      <% form.object.strata.each do |stratum| %>
        <%= fields_for "stratified_sortition[strata][]", stratum do |stratum_form| %>
          <%= render "stratum", form: stratum_form, id: tabs_id_for_stratum(stratum) %>
        <% end %>
      <% end %>
    </div>
    <button class="button button__sm button__secondary add-stratum mt-2" type="button" <%= 'disabled' if @stratified_sortition.sample_participants.any? %>>
      <%= t(".add_stratum") %>
    </button>
  </div>
</div>
