<% substratum = form.object %>

<div class="card stratified-sortition-substratum" id="<%= id %>-field">
  <div class="card-divider substratum-divider">
    <h2 class="card-title mb-4">
      <span><%= t(".title") %></span>

      <div class="ml-auto flex gap-x-4">
        <button type="button" class="button button__sm button__transparent-secondary small alert move-up-substratum button--title">
          <%= icon "arrow-up-line" %> <%= t(".up") %>
        </button>

        <button type="button" class="button button__sm button__transparent-secondary small alert move-down-substratum button--title">
          <%= icon "arrow-down-line" %> <%= t(".down") %>
        </button>

        <button type="button" class="button button__sm button__transparent-secondary small alert remove-substratum button--title">
          <%= t(".remove") %>
        </button>
      </div>
    </h2>
  </div>

  <div class="card-section">
    <div class="row column substratum-fields">
      <div class="translated-field">
        <%= form.translated(
            :text_field,
            :name,
            tabs_id: id,
            label: t(".name"),
            maxlength: 100) %>
      </div>
      <div class="substratum-value-field">
        <%= form.text_field :value, label: t(".value"), placeholder: t(".value_placeholder", default: "Value") %>
      </div>
      <div class="substratum-range-field">
        <%= form.text_field :range, label: t(".range"), placeholder: t(".range_placeholder", default: "Range (e.g. 0-18)") %>
      </div>
      <div>
        <%= form.number_field :weighing, step: 0.1, label: t(".weighing"), placeholder: t(".weighing_placeholder", default: "Weighing") %>
      </div>
    </div>
  </div>

  <%= form.hidden_field :id %>
  <%= form.hidden_field :deleted, value: false %>
</div>
