<div id="panel-substrata" class="card-section">
  <%= field_errors_block(form, :substrata) %>

  <div class="stratified-sortition-substrata row column" id="substrata-<%= form.object.object_id %>">
    <button
      class="button button__sm button__secondary add-substratum"
      type="button">
      <%= t(".add_substratum") %>
    </button>

    <script type="text/template" class="decidim-template">
      <% new_substratum = Decidim::StratifiedSortitions::Admin::SubstratumForm.new(stratum: form.object) %>
      <%= form.fields_for "substrata[SUBSTRATUM_ID]", new_substratum do |substratum_form| %>
        <%= render "substratum",
            form: substratum_form,
            id: tabs_id_for_substratum("SUBSTRATUM_ID"),
            stratum: form.object %>
      <% end %>
    </script>

    <div class="stratified-sortition-substrata-list">
      <% form.object.substrata.each_with_index do |substratum, index| %>
        <%= form.fields_for "substrata[#{index}]", substratum do |substratum_form| %>
          <%= render "substratum",
              form: substratum_form,
              id: tabs_id_for_substratum(substratum),
              stratum: form.object %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
