<% add_decidim_page_title(t(".title")) %>
<div class="item_show__header stratified_sortition_header">
  <h1 class="item_show__header-title">
    <%= t(".title") %>
  </h1>
</div>
<%= render 'navigation_menu' %>
<div class="card">
  <div class="item_show__header">
    <%= button_to t('.execute_stratified_sortition'),
                  execute_stratified_sortition_stratified_sortition_path(stratified_sortition),
                  method: :post,
                  class: 'button button__sm button__secondary' %>
  </div>
</div>

<%= append_javascript_pack_tag "decidim_stratified_sortitions_admin" %>
<%= append_stylesheet_pack_tag "decidim_stratified_sortitions_admin" %>
